@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #e0e0e0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #ef4444; /* Red accent for selection */
  color: #fff;
}
